apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-deployment-tracer
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: kubernetes-deployment-tracer
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: kubernetes-deployment-tracer
    spec:
      serviceAccountName: kubernetes-deployment-tracer
      containers:
      - name: kubernetes-deployment-tracer
        image: owenliang1990/kubernetes-deployment-tracer:latest
        command: ["/bin/bash", "-c", "python -u main.py"]